.paragraph {
  margin: 0 0 1.5rem;
}

.paragraph h2 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.1rem;
  margin: 3rem 0 2rem;
}
.paragraph p {
  margin: 0;
}
.paragraph a {
  color: #1782a9;
  padding: 0;
  text-decoration: none;
}
.paragraph ul {
  clear: both;
  line-height: 2.3rem;
  padding: 0 0 0 1rem;
}
.paragraph ul li {
  list-style: none;
  margin: 0 0 2rem;
}
.paragraph ul li:before {
  color: #999;
  content: '•';
  left: 0;
  position: absolute;
}
.paragraph ol {
  counter-reset: list;
  padding: 0 0 0 2rem;
}
.paragraph ol li {
  display: block;
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
}
.paragraph ol li:before {
  color: #999;
  content: counter(list);
  counter-increment: list;
  font-family: Arial, sans-serif;
  font-weight: bold;
  left: 0;
  margin-top: .2rem;
  position: absolute;
}

.paragraph blockquote:before {
  border-top: 5px solid #e2e2e0;
  content: '';
  display: inline;
  margin-top: -1.4rem;
  position: absolute;
  width: 4.5rem;
}
.paragraph blockquote,
.paragraph blockquote p {
  color: #5a5a5a;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0 0 1.5rem;
  padding: 1.5rem 0;
  position: relative;
}
.paragraph blockquote p {
  margin-bottom: 0;
  padding-top: 0;
}
.paragraph blockquote p:last-of-type {
  padding: 0;
}
